body.easyui-layout *{
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}

.textinput {
	width: 120px;
	border-style: solid;
	border-width: 1px;
	height: 24px;
	line-height: 24px;
}

#main_header {
	height: 122px;
	border: none;
}




body > .layout-panel-north {
}

/*工具栏*/
#main_header > .panel {
	position: absolute; bottom: 4px; right: 0;
}
#main_header .header-tool {
	background: transparent;
	padding: 0;
	border: none;
}
#main_header .header-tool a {
	outline: none;
}
#toolbar_skin .skin {
	border-radius: 2px;
}

/*菜单*/
.menu-container {
	width: 216px;
	overflow: hidden;
	border: none;
}
.menu-left {
	position: absolute;
	width: 215px;
}
.menu-container .menu-split{
	width: 0px;
	position: absolute;
	top: 0; bottom: 0; right:0;
}
.menu-container .menu-split .menu-split-center{
	width: 44px; 
	height: 38px;
	position: absolute;
	top: 0; 
	cursor: pointer;
	left:-45px;
}
/*搞死人的定制展开*/
body > .layout-expand-west {
	width: 10px;
}
body > .layout-expand-west .panel-body{
	border: none;
}
body > .layout-expand-west .panel-header {
	margin:0; padding: 0;
	position: static;
	border: none;
}
body > .layout-expand-west .panel-tool {
	position: static; overflow: visible;
	margin: 0; padding: 0;
}
body > .layout-expand-west a.layout-button-right {
	width: 10px; height: 116px;
	position: absolute; top: 50%; 
	margin: -58px 0 0 0;
	
	opacity: 1;
	filter: alpha(opacity=100);
}
#menu_container {
	overflow: hidden;
}
.menu-container .panel, .menu-container .panel-body {
	border: none;
}
.menu-container a {
	text-decoration: none;
}

/*菜单 搜索*/
#menu_search_panel {
	padding: 10px 0;
}
#menu_search {
	margin-left: 25px;
	font-family:simsun;
}

#main_menu {
	/* padding-top:5px; */
}
/*菜单 一级*/
#main_menu > .panel {
}
#main_menu .tree-folder {
	
}
#main_menu .tree-file {
}
#main_menu .tree-node.found > .tree-title a, #main_menu .tree-node.found > .tree-title {
	font-weight: bold;
}
#main_menu .accordion-header {
	padding: 0;
	height: 36px; line-height: 36px;
	border: none;
}

#main_menu .accordion-header-selected, #main_menu .accordion-header:hover {
}
#main_menu .accordion-header .panel-icon{
	left:15px;
	width:20px;
	background:url(default/images/icon.png) no-repeat;
	height: 20px;
}
#main_menu .accordion-header .panel-title{
	padding: 0;
	height: 40px; 
	line-height: 40px;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	padding-left:50px;
}
#main_menu .accordion-header-selected .panel-title{
}
#main_menu .accordion-header .panel-tool{
	display: none;
}
#main_menu .tree > li > .tree-node >span{
	height:18px;
	line-height:18px;
	margin-top: 11px;
	position:absolute;
}
#main_menu .tree > li > .tree-node >span.tree-folder{
	left:15px;
	width:20px;
	background:url(default/images/icon.png) no-repeat -62px -2px;
}
#main_menu .tree > li > .tree-node >span.tree-expanded{
	right:15px;
	background:url(default/images/arrow_single.png) no-repeat 0 -18px;
}
#main_menu .tree > li > .tree-node >span.tree-collapsed{
	right:15px;
	background:url(default/images/arrow_single.png) no-repeat;
}
#main_menu .tree > li > .tree-node >span.tree-title{
	left:50px;
}
#main_menu .tree > li > ul >li{
	border-bottom:1px solid #ccc;		
}
#main_menu .tree > li > ul >li>div{
	height:37px;
	line-height:37px;
}
#main_menu .tree > li > ul >li>div .tree-title{
	height:37px;
	line-height:37px;
}
#main_menu .tree > li > ul >li>div .tree-title a{
	font-size:12px;	
}
/*菜单 二级*/
#main_menu .tree > li > .tree-node {
	height:40px;
	line-height:40px;
	font-weight: normal;
    font-size: 14px;
    overflow:hidden;
}
#main_menu .tree > li > .tree-node:hover, #main_menu .tree > li > .tree-node.tree-node-selected {
}

/*菜单 三级*/
#main_menu .tree > li ul .tree-node{
	
}
#main_menu .tree > li ul .tree-node.tree-node-selected {
}
#main_menu .tree-node.found > .tree-title a, #main_menu .tree > li ul .tree-node.tree-node-selected > .tree-title a {
	font-weight: bold;
}

/*混合菜单*/
#main_header .menu-mix {
	position: absolute;
	top: 15px; right: 10px;
}
.menu-mix > a {
	width: 70px; height: 60px;
	outline: none;
	
	color: #fff;
	border-color: #6AD8FA;
	background: #2AA0DB;
	background: -webkit-linear-gradient(top,#33AEE2 0,#2190D4 100%);
  	background: -moz-linear-gradient(top,#33AEE2 0,#2190D4 100%);
  	background: -o-linear-gradient(top,#33AEE2 0,#2190D4 100%);
  	background: linear-gradient(to bottom,#33AEE2 0,#2190D4 100%);
}
.menu-mix > a:hover, .menu-mix > a.l-btn-selected {
	background: #fff;
	border-color: #fff;
	color: #0178BA;
}


/*内容*/
.menu-iframe, .dialog-iframe {
	width: 100%; height: 100%;
	border: none;
	margin: 0; 
	margin-top: -3px\9;
}

#main_footer {
	height: 27px; line-height: 27px;
	text-align: center;
	border: none;
}