/*HEADER*/
body > .layout-panel-north {
   /*  box-shadow: 0px 0px 6px rgb(97, 96, 96); */
    z-index: 999;
}
#header {height: 100px!important;
    border: none;
    background:url('./images/toumi.png');
	
	
	
	 /* -moz-box-shadow: 2px 2px 3px #919191;
    -webkit-box-shadow: 2px 2px 3px #919191;
    box-shadow: 2px 2px 3px #919191;
    For IE 8
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#919191')";
    For IE 5.5 - 7
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#919191'); */
    
    
    
    
    
    
    }

#header .title{
	position: absolute;
    top: 20px;
    left: 27px;
    width: 575px;
    height: 64px;
    background: url(images/head.png) no-repeat;
    border: none;
}

#title-system{
	line-height: 60px;
	font-size:35px;
	color :#f0f0f0;
	font-family : 微软雅黑;
	font-style: normal;
	word-spacing:8px; 
	letter-spacing: 5px;
	text-align:left;
	padding-left:70px;
	margin-top:70px;
}

/*HEADER > 工具栏*/
#header .toolbar {
    position: absolute;
    right: 0;
    bottom: 13px;
}
#header .toolbar .easyui-linkbutton {
	width: 94px;
	padding: 0;
	border-radius: 0;
	border: none;
	color: #fff;
}
#header .toolbar .easyui-linkbutton:last-child {
	border-right: none;
}
#header .toolbar .l-btn-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: -1px;
    background-position: 0px 3px;
    background-size: 76% 76%;
    margin-top: -10px;
    font-size: 1px;
}


#header .toolbar .l-btn-text {
	text-align: center;
    color: #fff;
    font-size: 16px;
}

#header .toolbar .l-btn-plain:hover {
    background: none;
}
#header .toolbar .panel-body{
    padding: 0;
    background: transparent;
}
#btn_exit_fullscreen, #btn_fullscreen {
	background: #5FC041;
}
#btn_modifypassword, #btn_logout {
	background: #00A8EC;
}
#btn_modifypassword:hover {
	background: #F79E26;
}
#btn_logout:hover {
	background: #D32C2C;
}

/*HEADER > 工具栏 > SKIN*/
#toolbar_skin .skin {
}