body {
    background: #efeee4;
}

html, body {
    height: 100%;
}
.new {
	display: block;
}

.old {	
	display: none;
}


.wrap {
    margin: 0 auto -105px;
    padding: 0 0 145px;
    min-height: 100%;
}
.header {
    background: #222;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 138px 0 0;
    text-align: center;
    min-height: 400px;
    position: relative;
    background-image: url("../images/header.jpg");
}
.logoimg {
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: -40px;
}
.logotxt {
    margin-bottom: 30px;
    border: 0;
}
.logotxt a {
    font-weight: 700;
    color: #fff;
    font-size: 64px;
}
.header h2 {
    color: #fff;
    padding: 0;
    margin: 0 0 45px;
    font-weight: 100;
    font-size: 34px;
}
.main {
    margin-top: 90px;
}
.post {
    position: relative;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 20px rgba(50,50,50,.1);
    box-shadow: 0 0 20px rgba(50,50,50,.1);
}
.post-featured-image {
    position: relative;
}
.post-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    opacity: .95;
    filter: alpha(opacity=95);
    text-align: center;
}
.post-header h2 {
    margin: 0;
    padding: .5em .2em;
}
.post-header h2 a {
    color: #777;
}
.post-featured-image .thumbnail {
    margin-bottom: 0;
    padding: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
}
.post img {
    display: block;
    max-width: 100%;
    height: auto;
}
footer {
    position: relative;
    height: 105px;
    background: #4A4849;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
}
footer .submit {
    padding: 30px 0;
    margin: 0;
}