<p class="codeIgnore">标签默认显示在<b>顶部</b>，可以通过<code>tabPosition</code>改变标签的位置，可选值有<code>left</code><code>right</code><code>top</code><code>bottom</code></p>

<div class="easyui-panel" style="margin-bottom: 10px;">
    <span>位置：</span>
<!-- @reg:tabPosition=tooltip{content:'<code>tabPosition</code>属性可选值有：<code>left：左</code><code>right：右</code><code>top：上</code><code>bottom：下</code>'} -->	
    <select onchange="$('#tabs_7948e83e3c612cee').tabs({tabPosition:this.value})">
        <option value="top">上</option>
        <option value="bottom">下</option>
        <option value="left">左</option>
        <option value="right">右</option>
    </select>
</div>

<div id="tabs_7948e83e3c612cee" class="easyui-tabs" style="width: 300px; height:150px;">
    <div title="Tab1">
        tab1
    </div>
	<div title="Tab2">
        tab2
    </div>
</div>