body > .layout-panel-north {
/* background: url(images/header.jpg) repeat-x; */
background:#ECECEC
}
#header {
/* background: url(images/header-left.jpg) bottom left no-repeat; */
background:#c72523!important;
height:80px
}
#menu .accordion-header {
background: url(images/menu-level-1.png) center top no-repeat;
}
#menu .accordion-header-selected {
background: url(images/menu-level-1-active.png) no-repeat top center;
}
#menu .tree > li > .tree-node {
background: url(images/menu-level-2.png) center top no-repeat;
}
#side,#side .layout-collapse,body > .layout-expand-west{
	background:#ececec;
}
#side .layout-collapse-center {
background: url(images/menu-collapse-center.jpg) no-repeat;
}

body > .layout-expand-west a.layout-button-right {
background: url(images/menu-expand-center.jpg) no-repeat;
}
#menu .panel-body,#menu,#side .layout-container {
background:white;
border:none
}
/*混合菜单 > 单个菜单*/
.menu-mix .easyui-linkbutton:hover,
#header .l-btn-plain:hover {
    background:#af1311;border-radius:0
}
.menu-mix>a.selected:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    background:#f98585;
    position: absolute;
    bottom: 1px;
    left: 0;
    border-radius:0
}
#toolbar .selected {background:#f98585!important;border-radius:0}
#footer {
background: #c72523;
}
.search_custom>a{background:url(images/search.png) no-repeat center center;}
.outer .left>h3:after, .outer .right>h3:after{background:#c72523;}