<p class="codeIgnore"><code>lines属性</code>定义是否显示树线条</p>
<!-- @reg:lines=tooltip{content:'<code>true显示树线条、false不显示树线条</code>'} -->
<ul class="easyui-tree" data-options="animate:true,lines:true">
    <li>
<!-- @reg:<span>南大先腾</span>=tooltip{content:'<code>span</code>标签里设置树节点的标题'} -->
        <span>南大先腾</span>
        <ul>
            <li>
            	<span>总经理室</span>
				<ul>
					<li>王锦东</li>
					<li>王卿</li>
					<li>孟波波</li>
					<li>杨淮生</li>
					<li>穆欣</li>
				</ul>
            </li>
<!-- @reg:state:'closed'=tooltip{content:'设置<code>state=\'closed\'</code>，则该节点默认关闭状态'} -->
            <li data-options="state:'closed'">
            	<span>办公室</span>
				<ul>
					<li>吴斌芳</li>
					<li>李勇宁</li>
					<li>袁萍</li>
					<li>吴泓</li>
				</ul>
            </li>
			<li data-options="state:'closed'">
            	<span>财务部</span>
				<ul>
					<li>严瑾</li>
					<li>蒋惠宁</li>
				</ul>
            </li>
			<li data-options="state:'closed'">
            	<span>技术支持部</span>
				<ul>
					<li>赵明</li>
					<li>吴慧冬</li>
					<li>张波</li>
					<li>杨震</li>
					<li>吴惠阳</li>
					<li>浮君君</li>
					<li>王帅</li>
					<li>袁志龙</li>
					<li>裘俊</li>
					<li>陈落雁</li>
				</ul>
            </li>
			<li data-options="state:'closed'">
            	<span>电子政务事业部</span>
				<ul>
					<li>丁璞</li>
					<li>丁雯娟</li>
					<li>乔宁</li>
					<li>何计松</li>
					<li>何锋</li>
					<li>刘志强</li>
					<li>刘杰</li>
					<li>刘梦瑾</li>
					<li>向盈</li>
					<li>吴金峰</li>
				</ul>
            </li>
			<li data-options="state:'closed'">
            	<span>研发部</span>
				<ul>
					<li>丁丁</li>
					<li>刘杰</li>
					<li>朱宵玉</li>
					<li>李婷茹</li>
					<li>杨晶晶</li>
					<li>林钟毓</li>
					<li>汪杰</li>
					<li>秦涛</li>
					<li>蒋冬宁</li>
					<li>黄何</li>
					<li>秦涛</li>
					<li>蒋冬宁</li>
					<li>黄何</li>
				</ul>
            </li>
        </ul>
    </li>
</ul>
