<p class="codeIgnore">手风琴有一个好听的名字，因为运行起来里面的每一块内容都可以像手风琴一样自由伸缩。设置<code>class="easyui-accordion"</code>的节点将获得<b>手风琴</b>基础功能，节点内每一个子元素将作为一个独立的<b>Item</b></p>
<!-- @reg:easyui-accordion=tooltip{content:'只要设置<code>class=\'easyui-accordion\'</code>，就能获得<b>手风琴</b>基础功能'} -->
<div class="easyui-accordion" style="width:200px;height:200px;">
<!-- @reg:div=tooltip{content:'每一个子元素就是一个独立的Item'} -->
<!-- @reg:iconCls=tooltip{content:'设置<code>iconCls</code>属性可以为Item添加图标'} -->
    <div title="Page1" data-options="iconCls:'icon-ok'" style="padding: 10px;">
        Content1
<!-- @reg:div=tooltip{content:'每一个子元素就是一个独立的Item'} -->
    </div>
    <div title="Page2" style="padding: 10px;">
		Content2
    </div>
    <div title="Page3" style="padding: 10px;">
		Content3
    </div>
</div>
<p class="codeIgnore warn">注意：关键字是<code>easyui-accordion</code>，<b>不是</b>easyui-accordions，不要多写了<b>s</b></p>