发起举办单位：江南时报、江苏单车网
一、     签到日期：2015年6月12日13：30--21：30（周五）
二、     认证日期：6月13日6：00 至14日6：00（周六、周日）
三、     出发地点：无锡太湖国际博览中心
四、     认证线路及打卡点：顺时针方向自由选择骑行线路

推荐线路（暂定，以比赛当日发布的比赛须知为准）：
1、300KM组 无锡—苏州---吴江---湖州---宜兴---常州---无锡
2、500KM组 无锡—苏州---西山---东山---吴江---湖州---宜兴---常州---无锡
打卡点（暂定，以比赛当日发布的比赛须知为准）：
1、苏州太湖国家湿地公园小连山打卡点
2、苏州西山毛坞里打卡点
3、苏州东山杨梅基地打卡点
4、湖州喜来登酒店打卡点
5、无锡马山龙头弯打卡点
300KM组需前往1、4、5号打卡点打卡，500KM组需前往1至5号打卡点打卡。
五、组别及规模：
1）300KM极限挑战组（限报1500人）
可领取纪念品一份，3个打卡点补给品（凭补给券领取），完成者可获得24H单车环太湖奖牌一个，24H单车环太湖完成证书一份。
2）500KM日行千里组（限报500人）
可领取纪念品一份，5个打卡点补给品（凭补给券领取），完成者可获得24H单车环太湖奖牌一个，24H单车环太湖完成证书一份。
六、认证须知：
1） 认证者需统一安装猫眼码表，无猫眼码表者，由组委会统一提供租赁或购买服务。
租赁方式及费用：租赁费30元/块（与报名费同时交纳），押金100元/次，现场给付
猫眼天猫旗舰店特价购买通道：
2）组委会提供的路书仅供参考，认证者可自行选择环太湖线路（顺时针方向环湖），但须在规定时间内到达各指定打卡点，并完成打卡。
3）认证者在任何情况下搭车或借助外力骑行或其他弄虚作假行为的，一经核实，则认证成绩无效，同时禁止环太湖认证资格3年。
4）认证者需在24小时内完成环湖骑行，方可认定为挑战成功！（13日6：00 至14日6：00）
5）完成24小时环太湖骑行者可购买个人定制版环太湖水晶奖杯一个（需缴纳100元）环太湖纪念版骑行服（需缴纳400元）
6）本次环太湖认证还将设立一些特别奖项，具体奖项稍后补充，敬请期待。
七、报名：
1）个人或团体
2）       报名地点：江苏单车网
地址：南京市戴家巷11号
3）报名时间：2015年4月13日——5月28日(报满即止)
       早9:30—晚17：30
4）网上报名：报名邮箱：bike24H@163.com   
        QQ报名：2998823198
（汇款结束请截图发至指定邮箱或QQ）

咨询电话：025-86269456 86200430
环太湖QQ群：446590521

5）报名费： 
300KM极限挑战组（100元/人）
500KM日行千里组（200元/人）
住宿请自理
所有报名人员可免费获得纪念品一份及意外伤害保险一份
付款方式：
A、个人汇款：
开户行：南京银行黄埔支行
姓名：金志燕
帐号：6217778000064011
汇款时请勾取短信通知13851472240，并通过邮件将汇款人账号、汇款金额、交费队伍队员姓名信息发至报名邮箱bike24H@163.com。报名成功以收到该电子邮箱回复的确认内容为准。
B、支付宝付款帐号：nkjzy@163.com  （此帐号不接受报名）
姓名：金志燕。