<p class="codeIgnore"><code>collapsible</code>属性设置Item是否可以收缩，<code>collapsed</code>属性设置Item的收缩状态</p>
<div class="easyui-accordion" style="width:200px;height:250px;">
<!-- @reg:collapsed=tooltip{content:'<code>collapsed</code>属性设置Item的收缩状态'} -->
<!-- @reg:collapsible=tooltip{content:'<code>collapsible</code>属性设置Item是否可以收缩'} -->
	<div title="保持展开状态" data-options="iconCls:'icon-search',collapsed:false,collapsible:false" style="padding: 10px; text-align: center;">
       <input class="easyui-searchbox" prompt="输入搜索内容" style="width:150px;height:25px;">
    </div>
    <div title="Page1" data-options="selected:true" style="padding: 10px;">
        Content1
    </div>
    <div title="Page2" style="padding: 10px;">
		Content2
    </div>
    <div title="Page3" style="padding: 10px;">
		Content3
    </div>
</div>