<p class="codeIgnore">默认最多只能有<b>1</b>个Item展开，设置<code>multiple:true</code>可以同时展开多个Item</p>
<!-- @reg:multiple:true=tooltip{content:'设置<code>multiple:true</code>可以同时展开多个Item'} -->
<!-- @reg:height:auto=tooltip{content:'注意这里的样式<code>height:auto</code>，才能保证手风琴的高度能够根据展开Item自动调整'} -->
<div class="easyui-accordion" data-options="multiple:true" style="width:200px; height:auto; min-height: 250px;">
    <div title="Page1" style="padding: 10px;">
        Content1
    </div>
    <div title="Page2" style="padding: 10px;">
		Content2
    </div>
    <div title="Page3" style="padding: 10px;">
		Content3
    </div>
	<div title="Page4" style="padding: 10px;">
		Content4
    </div>
    <div title="Page5" style="padding: 10px;">
		Content5
    </div>
</div>