2015中国·24H单车环太湖认证赛第一轮报名将在5月13日截止，关于报名确认的事宜如下：

1、  请未提交健康证明或未交报名费的选手于5月13日前将相关材料提交至报名邮箱和汇款账号，规定时间内未缴费或未提交健康证明的选手将视同放弃2015年认证名额，其名额将开放到第二轮报名。

2、  已交报名费但未来得及提交健康证明的车友，请在5月20日前将健康证明提交至报名邮箱，规定时间内未完成提交的，概不退还报名费，选手将失去2015年认证名额。

3、5月20日后报名并缴费的选手，将不能够退赛及换组，报名费概不退还。

4、5月6日前发送了报名表但未收到邮件回复的，请直接致电组委会确认。

5、申请退赛的选手请于5月13日前以邮件形式确认退赛，组委会将退还报名费，逾期概不退还。

6、去年车展预报名的车友也需在5月20日前提交健康证明，健康证明拍照发至报名邮箱，内容备注姓名、身份证号码
第二轮的报名日期：5月14——5月28日（报满即止）


报名邮箱:bike24H@163.com
组委会电话：025-86269456  86200430

详细报名公告戳这里：http://bbs.jsbike.com/forum.php?mod=viewthread&tid=138193&extra=page%3D1