<p class="codeIgnore"><code>href</code>属性设置<b>链接</b>，通过<b>Ajax</b>获取Item内容</p>
<div class="easyui-accordion" style="width:500px;height:200px;">
<!-- @reg:href=tooltip{content:'<code>href</code>属性设置链接'} -->
    <div title="24H单车环太湖认证赛报名即将截止，请已报名的选手尽快完善资料" data-options="href:'modules/components/accordions/demo/accordions-remote-page1.html'" style="padding: 10px;">
    </div>
<!-- @reg:cache=tooltip{content:'<code>cache</code>设置是否缓存页面，不缓存的话每次切换时都会重新发送请求加载页面'} -->
    <div title="2015中国24H单车环太湖认证赛-报名公告" data-options="cache: false, href:'modules/components/accordions/demo/accordions-remote-page1.html'" style="padding: 10px;">
    </div>
</div>