<p class="codeIgnore warn">注意：<b>分割型菜单按钮</b>的的关键字是<code>easyui-splitbutton</code>！</p>
<p class="codeIgnore">与<b>菜单按钮</b>一样，<b>分割型菜单按钮</b>也是联系按钮与菜单的组件，不同之处在于：一条分割线把按钮分为2部分，只有鼠标移动到箭头上才会显示菜单</p>
<div class="easyui-panel" style="padding:5px;">
<!-- @reg:easyui-splitbutton=tooltip{content:'关键字是<code>easyui-splitbutton</code>，<b>不是</b>easyui-linkbutton'} -->
	<a href="javascript:void(0)" class="easyui-splitbutton" data-options="menu:'#mm_9b75e9ad96f49952',iconCls:'icon-edit'">编辑</a>
	<div id="mm_9b75e9ad96f49952" style="width:150px;">
	    <div data-options="iconCls:'icon-undo'">撤销</div>
	    <div data-options="iconCls:'icon-redo'">重做</div>
	    <div class="menu-sep"></div>
	    <div>剪切</div>
	    <div>复制</div>
	    <div>粘贴</div>
	    <div class="menu-sep"></div>
	    <div data-options="iconCls:'icon-remove'">删除</div>
	    <div>选择全部</div>
	</div>
</div>