<p class="codeIgnore">平坦的按钮默认<b>没有背景色</b>，通过设定属性值<code>plain: true</code>实现。</p>
<div class="easyui-panel" style="padding:5px;">
<!-- @reg:plain:true=tooltip{content:'设置属性<code>plain:true</code>，就能够显示平坦的图标'} -->
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-cancel'">取消</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">刷新</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">查询</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true">按钮</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">打印</a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-help'"></a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'"></a>
    <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-back'"></a>
</div>
