body {
	background:#e3e3e3;
	background-image:url(img/bg.jpg);
	background-repeat:repeat-x;
	font: 16px simhei;
	color: #8b8b8b;
}

#login-box {
	width:485px;
	height:410px;
	position:absolute;
	top:50%;
	left:50%;
	margin: -205px 0px 0px -243px;
	color: #8b8b8b;
	font: 16px simhei;
	background: url(img/login-box-backg.png) no-repeat left top;
	padding-top: 105px;
}

#login-box img {
	border:none;
}

#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:15px 0 7px 70px;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:20px 0 7px 0;
}

#login-box-field input  {
	width: 221px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#fff;
	font-size: 16px;
	color: #ebebeb;
}

span {
	display: block;
	clear: both;
	margin: 40px 0 0 156px;
	padding: 10px 0 0 0;
	font-size: 11px;
}

span a {
	color: #414141;
	font-size: 11px;
	margin: 0 0 0 20px;
}

.login-box-btn {	
	width:221px;
	height:42px;
	margin: 20px 0 0 160px;
	background: url(img/login-btn.png) no-repeat;
	border: none;
}
.footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	left: 0;
	bottom: 0;
	z-index: 100;
	position: fixed;
	text-align: center;
}