<p class="codeIgnore">给面板添加一个面板页头</p>
<!-- @reg:header=tooltip{content:'把id为<b>header_10363e19511d0d0a</b>的元素添加到面板中，作为该面板页头'} -->
<div class="easyui-panel" data-options="header: '#header_10363e19511d0d0a'" title="重庆市办事处" style="width:500px;height:150px;padding:10px;">
重庆市办事处<br>
联系人：陈主任<br>
联系电话：18888055140
</div>
<style scoped="scoped">
    .tt-inner{
        display:inline-block;
        line-height:12px;
        padding-top:5px;
		width: 50px;
	    margin: 0 10px;
	    text-align: center;
    }
    .tt-inner img{
        border:0;
    }
</style>
<!-- @reg:header_10363e19511d0d0a=tooltip{content:'id为<b>header_10363e19511d0d0a</b>的元素'} -->
<div id="header_10363e19511d0d0a">
	<span class='tt-inner'><img src='modules/components/tabs/images/modem.png'/><br>Modem</span>
	<span class='tt-inner'><img src='modules/components/tabs/images/scanner.png'/><br>Scanner</span>
	<span class='tt-inner'><img src='modules/components/tabs/images/pda.png'/><br>Pda</span>
	<span class='tt-inner'><img src='modules/components/tabs/images/tablet.png'/><br>Tablet</span>
</div>