<p class="codeIgnore">默认的系统工具有<b>收缩、最小化、最大化、关闭</b>等等，这些工具可以在<b>data-options</b>属性中添加</p>
<!-- @reg:collapsible:true=tooltip{content:'<b>收缩工具</b>'} -->
<!-- @reg:minimizable:true=tooltip{content:'<b>最小化工具</b>'} -->
<!-- @reg:maximizable:true=tooltip{content:'<b>最大化工具</b>'} -->
<!-- @reg:closable:true=tooltip{content:'<b>关闭工具</b>'} -->
<div class="easyui-panel" data-options="collapsible:true,minimizable:true,maximizable:true,closable:true" title="联系人" style="width: 300px; height: 150px;">
联系人：马总监<br>
联系电话：13675178181,52635051
</div>