<p class="codeIgnore">除了一些默认的工具以外，开发者也可以定义自己的工具</p>
<!-- @reg:tools=tooltip{content:'把id为<b>tools_23e13f5ab426e747</b>自定义的工具的元素添加到面板中'} -->
<div class="easyui-panel" data-options="tools: '#tools_23e13f5ab426e747'" title="联系人" style="width: 300px; height: 150px;">
联系人：马总监<br>
联系电话：13675178181,52635051
</div>
<!-- @reg:tools_23e13f5ab426e747=tooltip{content:'自定义好的工具'} -->
<div id="tools_23e13f5ab426e747">
    <a href="javascript:void(0)" class="icon-add" onclick="javascript:alert('add')"></a>
    <a href="javascript:void(0)" class="icon-edit" onclick="javascript:alert('edit')"></a>
    <a href="javascript:void(0)" class="icon-cut" onclick="javascript:alert('cut')"></a>
    <a href="javascript:void(0)" class="icon-help" onclick="javascript:alert('help')"></a>
</div>