* {
    padding: 0; margin: 0;
}

#loader {
    position: absolute;
    width: 100%; height: 100%;
    z-index: 9999;
    background: #0f1923;
    display: none;
}
#loader * {text-align: center;}

#loader .content {
    position: absolute; top: 50%; left: 50%;
    width: 380px; height: 180px;
    margin: -90px 0 0 -190px;
}
#loader .logo {
    height: 60px;
    background: url(images/loadbf-centit.jpg) no-repeat;
}
#loader .logo a{
    width: 0; height: 100%;
    display: block;
    background: url(images/loadaf-centit.jpg) no-repeat;
}
#loader .title {
    line-height: 32px;
    color: #5C6369;
    font-size: 12px;
}
#loader .progress-num {
    color: #fff;
    font-weight: bold;
    font-family: Arial;
    height: 24px;
    font-size: 24px;
}